.MusicPanel {
    width: 100%;
    height: 100%;
    background-image: url('project://database/Assets/textures/Background/grid_purple.png?fileID=2800000&guid=2e3cd81dc52119d44b5dfad9d8f90302&type=3#grid_purple');
    transition-duration: 0.3s;
}

.MusicPanel:hover {
    scale: 1.02 1.02;
    transform-origin: right top;
}

.MusicPanel:active {
    -unity-background-image-tint-color: rgba(0, 181, 255, 255);
}
